<!DOCTYPE html>
<!--<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="body_about">
<div class="header">
    <ul class="menu">
        <li><a href="/">Главная</a></li>
        <li><a href="/about">О нас</a></li>
        <li><a href="/uslugi">Наши услуги</a></li>
        <li><a href="/forma">Обратная связь</a></li>
    </ul>
</div>
  <h1 class="info_zagolovok">Информация о нас</h1>
<div class="info">
    <div class="info_1">Эстетик центр «Облака», юридическое название ООО «ДекаКрасота»:</div>
    официальный дистрибьютор испанской компании Cocoon Medical, High Technology Products, всемирно известный производитель лазерного оборудования для медицинской и эстетической косметологии. Cocoon Medical производит один из самых мощных диодных лазеров для эпиляции Primelase HR, аппарат для криолиполиза Cooltech.
    дистрибьютор французкой компании Cebelia космецевтика для дерматологов, косметологов и пластических хирургов.
    дистрибьютор итальянской компании Bioformula, Италия, инновационные пилинги нового поколения.

<div class="info_chiroko">
    С 2006 года эстетик центр «Облака» оказывает большой спектр услуг по медицинской косметологии, гинекологии, онкологии, и физиотерапии.
    Врачи нашего центра имеют первую и высшую квалификационные категории, постоянно проходят переподготовку в Академии последипломного образования Республики Беларусь, участвуют в международных конгрессах, семинарах и тренингах, читают научные доклады на республиканских и международных конференциях.
    В центре работают 10 лазерных систем известных мировых производителей медицинского оборудования, с помощью которых врачи решают большой спектр всех дерматологических и косметологических проблем.
    На базе нашего центра проходят семинары и обучения для врачей косметологов, последипломного обучения Республики Беларусь. Для косметологов и дерматологов постоянно проводятся практические тренинги по лазерным методикам в дерматологии и косметологии и инъекционной контурной пластике.
</div>

<div class="info_1">Наши преимущества:</div>
    Предоставление услуг на неизменно высоком уровне.
    Использование инновационных технологий.
    Применение новейших лазерных и собственных уникальных методик в сфере эстетической медицины.
    Обеспечение индивидуального подхода.
    Высококвалифицированные косметологи и дерматологи – кандидаты медицинских наук, лучшие врачи и эксперты в области антивозрастной медицины.
    Специалисты нашего центра постоянно отслеживают последние достижения в области дерматологии, косметологии и эстетической медицины, активно внедряя их в практику.
</div>

</body>
</html>