<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Test Project hello</title>
</head>
<body>

    <div class="header">
        <ul class="menu">
            <li><a href="/">Главная</a></li>
            <li><a href="/about">О нас</a></li>
            <li><a href="/uslugi">Наши услуги</a></li>
            <li><a href="/forma">Обратная связь</a></li>
        </ul>
    </div>
<div>
    <div class="oblaka">Медицинский центр "Облака" </div>
    <img src="img/oblaka_foto.jpg" alt="Foto">
</div>


</body>
</html>