<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="body_about">
<div class="header">
    <ul class="menu">
        <li><a href="/">Главная</a></li>
        <li><a href="/about">О нас</a></li>
        <li><a href="/uslugi">Наши услуги</a></li>
        <li><a href="/forma">Обратная связь</a></li>
    </ul>
</div>
  <h1 class="info_zagolovok">Наши услуги и цены:</h1>
<p class="info_1">
    ПРЕЙСКУРАНТ тарифов на услуги, оказываемые ООО «ДекаКрасота»
    Тарифы указаны без стоимости материалов
</p>
<table border="1" class="table">
    <tr><th>Процедуры</th><th>Цены</th></tr>
    <tr><td>Удаление родинок</td><td>57</td></tr>
    <tr><td>Омоложение лица лазером</td><td>78</td></tr>
    <tr><td>RF-лифтинг</td><td>44</td></tr>
    <tr><td>Фотоомоложение</td><td>25</td></tr>
    <tr><td>Лечение акне</td><td>67</td></tr>
    <tr><td>Удаление рубцов и шрамов</td><td>78</td></tr>
    <tr><td>Удаление пигментации</td><td>23</td></tr>
</table>

</body>
</html>